@media (max-width: 620px) {
  .hf-statusbar {
    height: auto;
    min-height: 31px;
    align-items: flex-start;
    flex-direction: column;
    gap: 3px;
    padding: 5px 8px;
    overflow-x: auto;
  }

  .hf-statusbar > div:last-child {
    display: flex !important;
    min-width: max-content;
  }

  .hf-footer-brand {
    bottom: 59px;
  }
}
